#super_header {
    margin: 0;
    padding: 0;
    background-color: $highlight;
    height: auto;
    border-bottom: 1px solid $white;
    /*#atn_logo {
        float: left;
        margin-top: 4px;
        margin-left: 4px;
    }*/
    #user {
        display:inline-block;
        vertical-align: middle;
        float: left;
        margin-left: 4px;
        margin-top: 8px;
        color: $white;
    }
    #logout {
        display:inline-block;
        vertical-align: middle;
        float: right;
        font-size: 25px;
        margin-top: 4px;
        margin-right: 4px;
        border-radius: 10px;
        background-image: linear-gradient($red, $yellow);
        &:hover {
            background-image: linear-gradient($green, $green);
            color: $white;
            cursor: pointer;
        }
    }
}