$bar_height     : 50px;
$line_height    : 20px;
$section_height : 50px;
$dbl_line_height: 40px;
$padding        : 5px;
$dbl_padding    : 10px;
$large_margin   : 30px;
$side_width     : auto;
$article_width  : 550px;
$search_height  : 20px;
$font_size      : 16px;
$ruler          : 16px;

$color_red      : #AE1100;
$color_bg       : #EBECF0;
$color_shadow   : #BABECC;
$color_white    : #FFFFFF;
