body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient($background, $background_light);
    display: grid;
    place-content: center;
    grid-gap: 0;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 50px calc(100vh - (50px * 2)) 50px;
    grid-template-areas: "header"
                         "article"
                         "footer";
    header {
        grid-area: header;
    }
    article {
        grid-area: article;
    }
    footer {
        grid-area: footer;
    }
}