#admin_article {
    margin: 0;
    padding: 0;
    background-color: $background;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 100%;
    grid-template-rows: 6%;
    grid-template-areas: "tab";
    #tabs {
        grid-area: tab;
        margin: 0;
        padding: 0;
        background-color: $bright;
        overflow: hidden;
        border: 1px solid $white;
        display: flex;
        button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 4px 4px;
            transition: 0.3s;
            font-size: 1.5em;
            color: $white;
            flex-grow: 1;
            &:hover {
                background-color: $green;
            }
            &.active {
                background-color: $dark;
                color: $red;
            }
        }
    }
    .tab_content {
        display: none;
        padding: 6px 12px;
        border: 1px solid $white;
        border-top: none;
        overflow: auto;
    }
    #cases_tab {
        margin: 0;
        padding: 0;
        width: 100%;
        border: 1px solid $white;
        overflow-x: auto;
        .scene {
            width: 100%;
            height: 100%;
            perspective: 100%;
        }
        .box {
            width: inherit;
            height: inherit;
            position: relative;
            transform-style: preserve-3d;
            transform: translateZ(-50px);
            transition: transform 1s;
        }
        .box__face--bottom {
            max-width: 100%;
            overflow-x: auto;
            display: grid;
            grid-gap: 0;
            grid-template-columns: 100%;
            grid-template-rows: 50px auto;
            grid-template-areas: "title"
                                 "fields";
            #title_container {
                grid-area: title;
                position: fixed;
                margin: 0;
                padding: 0;
                width: 100%;
                display: block;
                text-align: center;
                h3 {
                    display: inline;
                    text-align: center;
                    color: $white;
                    font-size: 2em;
                }
                #floating_close_button {
                    width: 40px;
                    height: 40px;
                    margin-right: 4px;
                    margin-top: 4px;
                    border-radius: 100%;
                    background-color: #F44336;
                    border: none;
                    outline: none;
                    color: $white;
                    font-size: 2em;
                    float: right;
                    .fa-times {
                        color: white;
                        vertical-align: text-top;
                    }
                }
            }
            #fields_container {
                grid-area: fields;
                white-space: nowrap;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }
        }
        .box.show-front  { transform: translateZ( -50px) rotateY(   0deg); }
        .box.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }
        .box__face {
            position: absolute;
        }
        .box__face--front {
            width: inherit;
            height: inherit;
            overflow-y: auto;
        }
        .box__face--bottom {
            width: inherit;
            height: inherit;
            overflow-y: auto;
        }
        .box__face--front  { background-color: $background; }
        .box__face--bottom { background-color: $background; }
        .box__face--front  { transform: rotateY(  0deg) translateZ( 50px); }
        .box__face--bottom { transform: rotateX(-90deg) translateZ(100px); }
        #case_header_list {
            margin: 0;
            padding: 0;
            display: grid;
            grid-gap: 0;
            grid-template-columns: 300px 300px 300px 100px 400px 100px 200px 800px 500px 150px 80px 150px;
            grid-template-areas: "last_name first_name middle_name birthday birth_place gender date_recorded case remarks status priority officer";
            grid-template-row: 40px;
            li {
                font-size: 18px;
                color: $white;
                list-style: none;
                white-space: normal;
                list-style-position: inside;
                border: 1px solid $white;
                border-top: 0;
                vertical-align: middle;
                text-align: center;
                background-color: $purple;
                #last_name {
                    grid-area: last_name;
                }
                #first_name {
                    grid-area: first_name;
                }
                #middle_name {
                    grid-area: middle_name;
                }
                #birthday {
                    grid-area: birthday;
                }
                #birth_place {
                    grid-area: birth_place;
                }
                #gender {
                    grid-area: gender;
                }
                #date_recorded {
                    grid-area: date_recorded;
                }
                #case {
                    grid-area: case;
                }
                #remarks {
                    grid-area: remarks;
                }
                #status {
                    grid-area: status;
                }
                #priority {
                    grid-area: priority;
                }
                #officer {
                    grid-area: officer;
                }
            }
        }
        #case_list {
            margin: 0;
            padding: 0;
            li {
                display: grid;
                grid-gap: 0;
                grid-template-columns: 300px 300px 300px 100px 400px 100px 200px 800px 500px 150px 80px 150px;
                grid-template-areas: "last_name first_name middle_name birthday birth_place gender date_recorded case remarks status priority officer";
                grid-template-row: auto;
                &:hover {
                    background-color: #8fbc8f;
                }
                span {
                    font-size: 18px;
                    color: $white;
                    list-style: none;
                    white-space: normal;
                    list-style-position: inside;
                    border: 1px solid $white;
                    border-top: 0;
                    vertical-align: middle;
                    text-align: center;
                    &:hover {
                        cursor: default;
                    }
                    .lastname {
                        grid-area: last_name;
                    }
                    .firstname {
                        grid-area: first_name;
                    }
                    .middlename {
                        grid-area: middle_name;
                    }
                    .birthday {
                        grid-area: birthday;
                    }
                    .birthplace {
                        grid-area: birth_place;
                    }
                    .gender {
                        grid-area: gender;
                    }
                    .daterecorded {
                        grid-area: date_recorded;
                    }
                    .casetype {
                        grid-area: case;
                    }
                    .remarks {
                        grid-area: remarks;
                    }
                    .status {
                        grid-area: status;
                    }
                    .priority {
                        grid-area: priority;
                    }
                    .officer {
                        grid-area: officer;
                    }
                }
            }
        }
        #add_fields {
            display: flex;
            justify-content: normal;
            flex-wrap: wrap;
            li {
                list-style: none;
                vertical-align: middle;
                display: block;
                width: 100%;
                span {
                    width: 24%;
                    border: none;
                    font-size: 2em;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: left;
                    margin-left: 8px;
                    color: $white;
                }
                input, textarea, select {
                    font-size: 2em;
                    width: 65%;
                    vertical-align: middle;
                    margin: 4px;
                }
            }
        }
        #buttons_container {
            display: flex;
            button {
                font-size: 2em;
                border-radius: 10px;
                flex-grow: 1;
                &:hover {
                    background-image: linear-gradient($green, $green);
                    cursor: pointer;
                }
            }
            #button_cancel {
                background-image: linear-gradient($red, $yellow);
            }
            #button_upload {
                background-image: linear-gradient($blue, $search_border);
            }
            #button_delete {
                background-image: linear-gradient($blue, $search_border);
            }
            #button_edit {
                background-image: linear-gradient($blue, $search_border);
            }
            #button_print {
                background-image: linear-gradient($blue, $search_border);
            }
            #button_save {
                background-image: linear-gradient($blue, $search_border);
            }
        }
    }
    #statistics_tab {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        p {
            text-align: center;
            font-size: 2em;
        }
        #generate_report {
            color: white;
            #date_container {
                display: flex;
                height: auto;
                label {
                    margin-right: 8px;
                }
                #start_date {
                    flex-grow: 1;
                }
                #end_date {
                    flex-grow: 1;
                }
                #officers {
                    flex-grow: 1;
                    height: 55px;
                    option {
                        font-size: 2em;
                    }
                }
                #button_generate {
                    height: 55px;
                    flex-grow: 1;
                    font-size: 2em;
                    margin-right: 8px;
                    margin-left: 8px;
                    border-radius: 10px;
                    background-image: linear-gradient($blue, $search_border);
                    &:hover {
                        background-image: linear-gradient($green, $green);
                        color: $white;
                        cursor: pointer;
                    }
                }
            }
        }
        #statistics_data {
            color: $white;
            width: inherit;
            height: 800px;
        }
    }
    #settings_tab {
        margin: 0;
        padding: 0;
        overflow-x: auto;
        overflow-y: auto;
        border: 1px solid $white;
        #user_settings {
            margin: 0;
            padding: 0;
            display: grid;
            grid-gap: 0;
            height: 100%;
            grid-template-columns: 40% 60%;
            grid-template-row: auto;
            grid-template-areas: "user_field user_list";
            #user_field {
                grid-area: user_field;
                display: grid;
                vertical-align: middle;
                border-right: 0.5px solid $white;
                padding-right: 16px;
                padding-left: 16px;
                overflow-y: auto;
                #user_lastname {
                    width: 100%;
                    font-size: 2em;
                }
                #user_firstname {
                    width: 100%;
                    font-size: 2em;
                }
                #username {
                    width: 100%;
                    font-size: 2em;
                }
                #user_password {
                    width: 100%;
                    font-size: 2em;
                }
                #show_hide {
                    width: 25px;
                    height: 25px;
                    font-size: 1em;
                    margin-top: 4px;
                    margin-right: 4px;
                }
                #label_hide_show {
                    font-size: 1.5em;
                    color: $white;
                }
                #user_confirm_password {
                    width: 100%;
                    font-size: 2em;
                }
                #show_hide_confirm {
                    width: 25px;
                    height: 25px;
                    font-size: 1em;
                    margin-top: 4px;
                    margin-right: 4px;
                }
                #label_hide_show_confirm {
                    font-size: 1.5em;
                    color: $white;
                }
                #user_buttons_container {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    padding-bottom: 8px;
                    #button_user_submit, #button_edit_password, #button_clear {
                        flex-grow: 1;
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        font-size: 2em;
                        background-image: linear-gradient($deep_sky_blue, $dodger_blue);
                        &:hover {
                            background-image: linear-gradient($green, $green);
                            box-shadow: 0 0 6px 3px $light_blue;
                        }
                    }
                }
                label {
                    float: left;
                    color: $white;
                    font-size: 1.5em;
                }
            }
            #user_list {
                grid-area: user_list;
                border-left: 0.5px solid $white;
                height: 100%;
                overflow-x: auto;
            }
        }
        #user_header_list {
            margin: 0;
            padding: 0;
            display : grid;
            grid-gap: 0;
            grid-template-columns: 20px 20px 300px 300px 70%;
            grid-template-areas: "logout icon user_last_name user_first_name user_username";
            grid-template-row: auto;
            li {
                font-size: 18px;
                color: $white;
                list-style: none;
                white-space: normal;
                list-style-position: inside;
                border: 1px solid $white;
                border-top: 0;
                vertical-align: middle;
                text-align: center;
                background-color: $purple;
                #user_status {
                    grid-area: logout;
                }
                #user_icons {
                    grid-area: icon;
                }
                #user_last_name {
                    grid-area: user_last_name;
                }
                #user_first_name {
                    grid-area: user_first_name;
                }
                #user_username {
                    grid-area: user_username;
                }
            }
        }
        #list_of_users {
            margin: 0;
            padding: 0;
            list-style: none;
            white-space: normal;
            list-style-position: inside;
            li {
                display: grid;
                grid-gap: 0;
                grid-template-columns: 20px 20px 300px 300px 70%;
                grid-template-areas: "logout icon user_last_name user_first_name user_username";
                &:hover {
                    background-color: #8fbc8f;
                    cursor: default;
                }
                .userStatus {
                    grid-area: logout;
                    border-bottom: 1px solid $white;
                    border-right: 1px solid $white;
                    color: $white;
                    text-align: center;
                    &:hover {
                        cursor: pointer;
                        background-color: $white;
                        color: $background;
                    }
                }
                .userDelete {
                    grid-area: icon;
                    border-bottom: 1px solid $white;
                    color: $white;
                    text-align: center;
                    &:hover {
                        cursor: pointer;
                        background-color: $red;
                    }
                }
                span {
                    font-size: 18px;
                    color: $white;
                    border: 1px solid $white;
                    border-top: 0;
                    vertical-align: middle;
                    text-align: center;
                    .userLastName {
                        grid-area: user_last_name;
                    }
                    .userFirstName {
                        grid-area: user_first_name;
                    }
                    .userUsername {
                        grid-area: user_username;
                    }
                    &:hover {
                        background-color: #8fbc8f;
                        cursor: default;
                    }
                }
            }
        }
    }
}