/* DARK THEME */
$background         : #000000;
$background_light   : #27292B;
$dark               : #1D1F21;
$bright             : #808184;
$main_color         : #323734;
$section_bg         : #2f4f4f;

$trans_white        : #fff3;
$trans_white_more   : #fff1;
$trans_black        : #0003;
$trans_black_more   : #0001;
$light_gray         : #666;
$search_border      : #00CED1;

$white              : #EEE;
$red                : #F06D65;
$green              : #59BEA0;
$blue               : #54C1E3;
$yellow             : #F3863D;
$purple             : #7C72DC;
$orange             : #F3863D;

$highlight          : $blue;
