#admin_header {
    margin: 0;
    padding: 0;
    background-color: $highlight;
    #user {
        float: left;
        font-size: 25px;
        margin-top: 4px;
        margin-left: 4px;
        color: $white;
    }
    #logout {
        float: right;
        font-size: 25px;
        margin-top: 4px;
        margin-right: 4px;
        border-radius: 10px;
        background-image: linear-gradient($red, $yellow);
        &:hover {
            background-image: linear-gradient($green, $green);
            color: $white;
            cursor: pointer;
        }
    }
    /*#tabs {
        grid-area: tab;
        margin: 0;
        padding: 0;
        background-color: $bright;
        overflow: hidden;
        border: 1px solid $white;
        display: flex;
        button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 4px 4px;
            transition: 0.3s;
            font-size: 1.5em;
            color: $white;
            flex-grow: 1;
            &:hover {
                background-color: $green;
            }
            &.active {
                background-color: $dark;
                color: $red;
            }
        }
    }*/
}